fastapi==0.110.0
uvicorn==0.29.0
opencv-python-headless==4.11.0.86
pillow==11.1.0
pdf2image==1.17.0
pytesseract==0.3.13
easyocr==1.7.2
streamlit
gtts
requests
numpy
pydub
python-multipart
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
